@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant theme-midnight (&:where([data-theme="midnight"] *));


@theme {
  --font-display : "Satoshi", "sans-serif";
  --breakpoint-3xl : 120rem;
  --color-avocado-100: oklch(0.99 0 0);  
  --color-avocado-200: oklch(0.98 .4 113.22);
  --color-avocado-300: oklch(0.94 .11 115.03);
  --color-avocado-400: oklch(0.92 .19 114.08 );
  --color-avocado-500: oklch(0.84 .18 117.33);
  --color-avocado-600: oklch(0.53 .12 118.34);  
  --my-brand-color  : #e12d99;
  --ease-fluid : cubic-bezier(.3, 0, 0, 1);
  --ease-snappy : cubic-bezier(.2, 0, 0, 1)  ;  
  --size-font : 30px;
} 

@layer base {
  h4 {
    font-size: var(--text-2xl)
  }
  h5 {
    font-size: var(--text-xs);
  }
}

@layer components {
  .card {
    background-color: var(--my-brand-color);
    border-radius: var(--radius-lg) ;
    padding: --spacing(6);
    box-shadow: var(--shadow-xl); 
  }
  .my-element {
  background-color: white;
  color:aquamarine;


  @variant dark {
    @variant hover {
      background-color : black;
      color:red;
    }

  }
} 
}

@utility content-auto {
  content-visibility: auto;
  color : red;
  filter:blur(2px)
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display : none
  }
}

@utility tab-* {
  tab-size: --value(integer);
}

@utility mt-*{
  margin-top : calc(0.75rem * --value(integer))
}


@utility custom-link-*{
  color: --value(--color-*)
}


@custom-variant theme-midnight {
  &:where([data-theme="midnight"] *) {
    @slot;
  }
  &:where([data-theme="midlight"] *){
    background-color:orange;
    color:white
  }
}

/* https://www.youtube.com/watch?v=F0k0Nhmjx8w&list=PLYsQCPM-_9mUGBBx7kJLOWncMu3soxOEk */
/* https://github.com/mobiwise-dev/tailwind-v4-utilities */