.typography {
    font-size : var(--text-base);
    color: var(--color-gray-700);
    background-color : var(--color-red-100);

    p{
        font-size : var(--text-xs);
        background-color: rgb(228, 240, 240);
    }
    img {
        border-radius: var(--radius-xl);
    }
}